<style>
    .profile-page{
        text-align: center;
        padding: 2%;
    }
</style>
<div class="profile-page">
    <h1>Profile Page</h1>
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
</div>